<ion-header>
  <ion-toolbar>
    <ion-navbar>
      <ion-buttons right>
        <button
          ion-button
          icon-end
          solid
          color="secondary"
          (click)="alertDialogChoice()"
        >
          Add
        </button>
      </ion-buttons>
      <ion-title>
        Add component
      </ion-title>
    </ion-navbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div *ngFor="let item of inputs">
    <div absolute-drag>
      <input
        class="{{ item.class }}"
        type="{{ item.type }}"
        value="{{ item.value }}"
      />
    </div>
    <br />
  </div>

  <div *ngFor="let chbox of inputsChbox">
    <div absolute-drag>
      <input
        class="{{ chbox.class }}"
        type="{{ chbox.type }}"
        value="{{ chbox.value }}"
      />{{ chbox.value }}
    </div>
    <br />
  </div>

  <div id="chart_div" absolute-drag></div>
</ion-content>
